.section-category {
  &__header {
    .nav-link {
      color: rgba(0, 0, 0, 0.55);
    }
  }
  &__form-search {
    input::-webkit-input-placeholder {
      font-size: 0.8rem;
    }
    .bi-calendar-check {
      cursor: pointer;
      font-size: 1.5rem;
      color: cornflowerblue;
    }
  }
}
