.section-sub-category {
  &__form-search {
    input::-webkit-input-placeholder {
      font-size: 0.8rem;
    }
  }
  .nav-link.active {
    font-weight: bold;
    border-bottom: 1px solid red;
    color: rgba(0, 0, 0, 0.9) !important;
  }
}
