- breadcrumb :article_new
= render partial: "form", locals: { form: @form, title: t(".title"),
                                    title_modal: t(".title_modal"), body_modal: t(".body_modal"),
                                    btn_modal: t(".btn_modal") }
