- breadcrumb :author_new
= render partial: "form", locals: { author: @author, title: t(".title"),
                                    title_modal: t(".title_modal"), body_modal: t(".body_modal"),
                                    btn_modal: t(".btn_modal") }
