- breadcrumb :topic, @topic
= render partial: "form", locals: { topic: @topic, title: t(".title"),
                                    title_modal: t(".title_modal"), body_modal: t(".body_modal"),
                                    btn_modal: t(".btn_modal") }
